html{
    box-sizing: border-box;
    font-size: 62.58%; /* Reset para REMS: 62.5% = 10px de 16px; 1rem = 10px */
}
*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/*GLOBALES*/

.contenedor{
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}
h1,h2,h3,h4{
    font-family: 'Poppins', sans-serif;    
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
h5{
    font-size: 1.5rem;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
.boton{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    background-color: #182745;
    padding: 2rem;
    border-radius: 1rem;
    color: #8fb436;
    cursor: pointer;
}

/*SECCIÓN HEADER Y MENÚ*/

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #8fb436;
}
.logo{
    width: 12rem;
    margin: 1rem;
}

.menu{
    display: flex;
}
.menu ul li{
    display: inline;
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #182745;
    margin-left: 2rem;    
}
.menu a{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #182745;
}
.menu a:hover{
    color: #fff;
    border-radius: 1rem;
}
.ingreso ul li{
    display: inline;
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #182745;
    margin-left: 2rem;
}

.ingreso a{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #0d1741;
}
.ingreso a:hover{
    color: #fff;
    border-radius: 1rem;
}

.fa-right-to-bracket{
    margin-right: 1rem;
}

/*SECCION HERO*/

.hero{
    height: 60rem;
    background-image: url(/imagenes/principal7.jpg);
    background-position: center center;
    background-size: cover ;
    background-repeat: no-repeat;
    position: relative;
    margin-top: -4rem;
}
.hero::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 24, 77, 0.8);
}
.cont-hero{
    position: relative;
    top: 25rem;
    left: 0;
    right: 0;
    bottom: 0;
}
.titulo{
    margin-bottom: 3rem;
}
.titulo h1{
    font-size: 6rem;
    line-height: .7rem;
    margin-bottom: 3rem;
    color: #ffffff;
    text-align: center;
}
.titulo p{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}

.boton:hover{
    color: #fff;
}

/*SECCIÓN BUSCAR*/

.buscar{
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 1rem;
    font-family: 'Poppins', sans-serif; 
}
.form-buscar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 1.3rem;
    color: #182745;
}
.tipo-busqueda{
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    border-right: #1827452c 0.1rem solid;
}
.tipo-busqueda input{
    padding: 1.3rem;
    border: #1827452c 0.1rem solid;
    border-radius: 1rem;
    opacity: 0.6;
}
.busqueda-avanzada{
    display: flex;
    width: 100%;
    padding-left: 2rem;
    align-items: center;
}
.busqueda-avanzada p{
    margin-right: 3rem;
    font-size: 1.3rem;
    font-weight: 500;
}
.busqueda-avanzada li{
    list-style: none;
    background-color: #d3dae986;
    border-radius: 1rem;
    padding: 1.5rem;
}
.busqueda-avanzada img{
    width: 90%;
}

/*SECCION RESUMEN PROPIEDADES*/

.resume-prop{
    width: 100%;
    height: 35rem;
    display: flex;
    flex-direction: column;
    background-color: #8eb43642;
    text-align: center;
}
.titulo-resume{
    margin: 2rem 0;
}
.titulo-resume h3, p{
    color: #182745; 
}

.res-propiedades{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.tarjeta{
    background-color: #1827452c;
    border-radius: 1rem;
    padding: 2rem 4rem;
    box-shadow: -0.3rem -0.3rem 1rem #8eb4365b;
}
.tarjeta img{
    margin: 0 auto;
}

.tarjeta a{
    text-decoration: none;
    color: #182745;
}
.tarjeta h5 p{
    color: #182745;
}

/*SECCION VENTA DE PROPIEDADES*/
.titulo-prop{
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    color: #182745;
}
.titulo-prop h3{
    margin-bottom: 1rem;
}
.titulo-prop p{   
    margin-bottom: 3rem;
    font-size: 1.2rem;
}
.propiedades{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8fb436;
}
.cont-propiedades{
    margin: 3rem 0;
}
.tarjeta-propiedades{
    display: flex;    
    gap: 2rem;
}
.sub-tarjeta-propiedades{
    width: 100%;
    background-color: #18274515;
    object-fit: cover;
    margin-bottom: 2rem;
    border-radius: 1rem;
}
.texto-propiedad{
   font-family: 'Ubuntu', sans-serif;
   padding: 0 2rem;
   margin-bottom: 2rem;
}
.texto-propiedad h5{
    line-height: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #182745;
}
.texto-propiedad p{
    font-size: 1.5rem;
    font-weight: 800;
    color: #1827457a;
}
.venta{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 2rem 0;
}
.venta h6{
    background-color: #d4dceb41;
    padding: 0.3rem 0.8rem;
    border-radius: 0.7rem;
    color: #3a3b37;
}
.precio{
    display: flex;
    justify-content:space-around;
    align-items: center;
    color: #182745;
    font-size: 2.5rem;
    margin: 2rem 0rem;
    border-top: #1827452c 0.2rem solid;
}
.boton-sec{
    background-color: #182745;
    color: #fff;
    font-size: 2rem;
    margin-top: 2rem;
    padding:  2rem 1rem;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
}
.arriendo{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 2rem 0;
}
.arriendo h6{
    background-color: #d4dceb41;
    padding: 0.3rem 0.8rem;
    border-radius: 0.7rem;
    color: #3a3b37;
}
.fa-location-dot{
    margin-right: 1rem;
}
/*Seccio Testimonios*/
.testimonios{
    display: flex;
    flex-direction: column;
    background-color: #182745;
    text-align: center;
    color: #fff;
}
.testimonios h4{
    font-size: 2rem;
    color: #8fb436;
    margin-top: 3rem;
}
.testimonios p{
    color: #fff;
    margin-top: -4rem;
    margin-bottom: 6rem;
    font-size: 1.7rem;
    text-align: center;
}
.contenido-testimonios{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-content: center;
    gap: 3rem;
}
.tarjeta-testimonio{
    width: 75%;
    border: #24304f 0.2rem solid;
    border-radius: 10rem 0;
    margin: 5rem 0;
}
.tarjeta-testimonio:hover{
    background-color: #8fb436;
}


.imagen-circular {
    position: relative;
    top: -8rem;
    left: 13rem;
    right: 0;
    bottom: 0;
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    border: #8fb436 solid 0.5rem;
    border-radius: 50%;
}
.imagen-circular:hover{
    border: #fff solid 0.5rem;
}
.imagen-circular img{
    width: 100%;
    height: auto;
}
.texto-testimonio{
    margin-top: -7rem;
}
.texto-testimonio h3{
    margin: 0;
}
.texto-testimonio h5{
    margin-top: -5rem;
    margin-bottom: 2rem;
    padding: 3rem;
}
.texto-testimonio p{
    text-align: justify;
    font-size: 1.7rem;
    padding: 2rem;
    margin-bottom: 0;
}
.estrellas{
    display: inline-block;
    padding-bottom: 3rem;
}


/*Seccion Redes*/
.redes-sociales{
    background-color: #8eb43642;
    display: flex;
}
.contenido-redes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: #fff;
}
.logo img{
    max-width: 10rem ;
}
.iconos-redes{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    font-size: 2rem;
}
.icono-footer{
    width: 5rem;
    height: 5rem;
    background-color: #182745;
    padding-top: 0.5rem;
    border-radius: 15%;
}
.icono-footer:hover{
    background-color: #8fb436;
    
}
.icono-footer a{
    color: #fff;
}

/*SECCIÓN AUSPICIANTES*/

.auspiciantes{
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    background-color: #18274515;
    text-align: center;
    padding-bottom: 3rem;
}
.auspiciantes p{
    margin-top: -6rem;
    margin-bottom: 2rem;
    color: #8fb436;
}
.contenido-auspiciantes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}
.logo-auspiciante img{
    margin: 0 auto;
    padding: 0;
    line-height: 0;
}

/*SECCIÓN NEWSLETTER*/

.newsletter{
    display: flex;
    background-color: #182745;
    padding: 4rem 0;
}
.sub-newsletter{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}
.par-newsletter{
    margin: 2rem 0;
}
.direccion h6{
    font-size: 2rem;
    color: #ffffff;
}
.direccion p{
    font-size: 1.5rem;
    color: #fff;
    text-align: justify;
}
.fa-phone-volume, .fa-mobile, .fa-envelope{
    margin-right: 1rem;
}

.formulario input[type="text"]{
    background-color: transparent;
    color: #fff;
    padding: 1rem;
    border: #24304f 0.2rem solid;
    border-radius: 1rem 1rem;
}
.formulario a{
    text-decoration: none;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #8fb436;
    color: #fff;
}

/*SECCIÓN FOOTER*/
.footer{
    background-color: #182745;
    display: flex;
    align-items: center;
    padding: 4rem;
    border-top: #24304f 0.2rem solid;
}
.footer p{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    color: #fff;
}
.footer span{
    font-size: 1rem;
    color: #8fb436
}
.cont-footer{
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    color: #fff;
}
.menu-footer a{
    text-decoration: none;
    padding-left: 2rem;
    color: #ffffff;
}
.menu-footer a:hover{
    color: #8fb436;
}