html{
    box-sizing: border-box;
    font-size: 62.58%; /* Reset para REMS: 62.5% = 10px de 16px; 1rem = 10px */
}
*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    /*background-color: #8fb436;*/
}

/*GLOBALES*/

.contenedor{
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}
h1,h2,h3,h4{
    font-family: 'Poppins', sans-serif;    
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
h5{
    font-size: 1.5rem;
}
img{
    max-width: 100%;
    /*display: block;*/
}
.boton{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    background-color: #182745;
    padding: 2rem;
    border-radius: 1rem;
    color: #8fb436;
    cursor: pointer;
}

/*SECCIÓN HEADER Y MENÚ*/

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #8fb436;
}
.logo{
    width: 10%;
}

.menu{
    display: flex;
}
.menu ul li{
    display: inline;
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #182745;
    margin-left: 2rem;    
}
.menu a{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #182745;
}
.menu a:hover{
    color: #fff;
    border-radius: 1rem;
}
.ingreso ul li{
    display: inline;
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #182745;
    margin-left: 2rem;
}

.ingreso a{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #182745;
}
.ingreso a:hover{
    color: #fff;
    border-radius: 1rem;
}


/*SECCION SUB-HEADER*/

.sub-header{
    height: 50rem;
    background-image: url(/imagenes/principal7.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.cont-sub-header{
    position: absolute;
    top: 28rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.titulo{
    margin-bottom: 3rem;
}
.titulo h1{
    font-size: 6rem;
    line-height: 0rem;
    margin-bottom: 3rem;
    color: #182745;
    text-align: center;
}
.titulo p{
    font-family: 'Poppins', sans-serif;
    color: #182745;
    font-size: 1.2rem;
    text-align: center;
}

.boton:hover{
    color: #fff;
}

/*SECCIÓN BUSCAR*/

.buscar{
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 1rem;
    font-family: 'Poppins', sans-serif; 
}
.form-buscar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 1.3rem;
    color: #182745;
}
.tipo-busqueda{
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    border-right: #1827452c 0.1rem solid;
}
.tipo-busqueda input{
    padding: 1.3rem;
    border: #1827452c 0.1rem solid;
    border-radius: 1rem;
    opacity: 0.6;
}
.busqueda-avanzada{
    display: flex;
    width: 100%;
    padding-left: 2rem;
    align-items: center;
}
.busqueda-avanzada p{
    margin-right: 3rem;
    font-size: 1.3rem;
    font-weight: 500;
}
.busqueda-avanzada li{
    list-style: none;
    background-color: #d3dae986;
    border-radius: 1rem;
    padding: 1.5rem;
}
.busqueda-avanzada img{
    width: 90%;
}

/*SECCION RESUMEN PROPIEDADES*/

.resume-prop{
    width: 100%;
    height: 35rem;
    background-color: #8eb43642;
    text-align: center;
}
.titulo h3, p{
    color: #182745; 
}

.res-propiedades{
    display: flex;
    justify-content: center;
}
.tarjeta{
    background-color: #1827452c;
    border-radius: 1rem;
    padding: 2rem 4rem;
    margin: 2rem;
    box-shadow: -0.3rem -0.3rem 1rem #8eb4365b;
}

.tarjeta a{
    text-decoration: none;
    color: #182745;
}
.tarjeta h5 p{
    color: #182745;
}
/*SECCION VENTA DE PROPIEDADES*/
.titulo-prop{
    width: 50%;
    text-align: center;
    color: #182745;
}
.titulo-prop h3{
    margin-bottom: 1rem;
}
.titulo-prop p{
    /*padding: 3rem;*/
    margin-bottom: 3rem;
    font-size: 1.2rem;

}

.propiedades{
    /*height: 70rem;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8fb436;
}
.tarjeta-propiedades{
    display: flex;    
    gap: 2rem;
}
.sub-tarjeta-propiedades{
    width: 100%;
    background-color: #18274515;
    object-fit: cover;
    margin-bottom: 2rem;
    border-radius: 1rem;
}
.texto-propiedad{
   font-family: 'Ubuntu', sans-serif;
   padding: 0 2rem;
   margin-bottom: 2rem;
}
.texto-propiedad h5{
    line-height: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #182745;
}
.texto-propiedad p{
    font-size: 1.5rem;
    font-weight: 800;
    color: #1827457a;
}
.venta{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 2rem 0;
}
.venta h6{
    background-color: #d4dceb41;
    padding: 0.3rem 0.8rem;
    border-radius: 0.7rem;
    color: #3a3b37;
}
.precio{
    display: flex;
    justify-content:space-around;
    align-items: center;
    color: #182745;
    font-size: 2.5rem;
    margin: 2rem 0rem;
    border-top: #1827452c 0.2rem solid;
}
.boton-sec{
    background-color: #182745;
    color: #fff;
    font-size: 2rem;
    margin-top: 2rem;
    padding:  2rem 1rem;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
}

.arriendo{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 2rem 0;
}
.arriendo h6{
    background-color: #d4dceb41;
    padding: 0.3rem 0.8rem;
    border-radius: 0.7rem;
    color: #3a3b37;
}

.contenido{
    background-color: #182745;
    text-align: center;
}
